<!DOCTYPE html>
<html>
  <head>
    <title>AVRSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'table'%>
    <%= yield :javascript_includes %>
    <%= stylesheet_link_tag    params["controller"], media: 'screen' %>
  </head>

  <body>

  <div class="nav_and_content">
    <div id="top_navigation">
      <%= render_navigation(level: 1) if @current_user %>
      <% if @current_user %>
        <div id="navbar_greeting">
          <%= "Hello, " + @current_user.first_last_name + " |" %>
          <%= link_to "Log Out", :signout, id: "logout_button" %>
        </div>
      <% end %>
    </div>
    <div class="clear_float"/>

    <div class="main content">
      <%= yield %>
    </div>
  </div>
  </body>
</html>
