<p id="notice"><%= notice %></p>

<h1>Items Mods Joins</h1>

<table>
  <thead>
    <tr>
      <th>Menuitems</th>
      <th>Mods</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items_mods_joins.each do |items_mods_join| %>
      <tr>
        <td><%= items_mods_join.menuitems %></td>
        <td><%= items_mods_join.mods %></td>
        <td><%= link_to 'Show', items_mods_join %></td>
        <td><%= link_to 'Edit', edit_items_mods_join_path(items_mods_join) %></td>
        <td><%= link_to 'Destroy', items_mods_join, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Items Mods Join', new_items_mods_join_path %>
