<p id="notice"><%= notice %></p>

<p>
  <strong>Menuitems:</strong>
  <%= @items_mods_join.menuitems %>
</p>

<p>
  <strong>Mods:</strong>
  <%= @items_mods_join.mods %>
</p>

<%= link_to 'Edit', edit_items_mods_join_path(@items_mods_join) %> |
<%= link_to 'Back', items_mods_joins_path %>
