<p id="notice"><%= notice %></p>

<div class="top_table_info">
  <strong>Table number:</strong>
  <%= @table.table_number %>

  <p>
    <strong>Employee:</strong>
    <%= Waiter.find(@table.waiter_id).first_name %>
  </p>
</div>

<div class="main_table">
  <div class="table_receipt">
    <table id="receipt_table">
      <tr>
        <th>Item</th>
        <th>Price</th>
      </tr>
      <% @table.menuitems.each do |item| %>
        <tr>
          <td><%= item.name %></td>
          <td><%= item.price %></td>
        </tr>
      <% end %>
      <tr>
        <td>Total:</td>
        <td><%= @total %></td>
      </tr>
    </table>
  </div>



<!--  <%#= link_to 'Edit', edit_table_path(@table) %> |-->
  <%#= link_to 'Back', tables_path %>

  <div class="categories">
    <% @categories.each do |category| %>
      <div class = "items_flex">
        <table class="items_index">
          <tbody>
          <tr class="clickable-row" data-link="<%= "/menuitems?category_id=#{category.id}" %>">
            <td>
              <%= link_to image_tag("#{category.name}.png", class: "compress"), "/menuitems?category_id=#{category.id}" %>
              <%= category.name %></td>
          </tr>
          </tbody>
        </table>
      </div>
    <% end %>
    <%= will_paginate @categories %>
  </div>
</div>


<div class = "dash-board" >
  <div class = "dash-buttons" id="send">
    <p>
      Send
    </p>
  </div>

  <div class = "dash-buttons" id="close">
    <p>
      Close
    </p>
  </div>

  <div class = "dash-buttons" id="mods">
    <p>
      Mods
    </p>
  </div>

  <div class = "dash-buttons" id="receipt">
    <p>
      Receipt
    </p>
  </div>





</div>