<p id="notice"><%= notice %></p>

<p>
  <strong>Table number:</strong>
  <%= @table.table_number %>
</p>

<p>
  <strong>Employee:</strong>
  <%= Waiter.find(@table.waiter_id).first_name %>
</p>

<% @table.menuitems.each do |item| %>
  <%= item.name %>
  <%= item.price %>
<% end %>


<%= link_to 'Edit', edit_table_path(@table) %> |
<%= link_to 'Back', tables_path %>

<div class="categories">
  <% @categories.each do |category| %>
    <div class = "items_flex">
      <table class="items_index">
        <tbody>
        <tr class="clickable-row" data-link="<%= edit_table_path(category) %>">
          <td>
            <%= link_to image_tag("#{category.name}.png", class: "compress"), categories_path %>
            <%= category.name %></td>
        </tr>
        </tbody>
      </table>
    </div>
  <% end %>
  <%= will_paginate @categories %>
</div>
