

<p id="notice"><%= notice %></p><br>

<div class="row">
  <div class="main_table">
    <div class="table_receipt">
      <table id="receipt_table">
        <tr>
          <th>Item</th>
          <th>Price</th>
        </tr>
        <% @table.menuitems.each do |item| %>
          <tr>
            <td><%= item.name %></td>
            <td><%= item.price %></td>
          </tr>
        <% end %>
        <tr>
          <td>Total:</td>
          <td><%= @total %></td>
        </tr>
      </table>
    </div>

    <div class="categories">
      <% @categories.each do |category| %>
        <div class = "items_flex">
          <table class="items_index">
            <tbody>
            <tr class="clickable-row">
              <td>
                <%= link_to image_tag("#{category.name}.png", class: "compress"), table_path(@table, category_id: category.id, page: params[:page] )%><br>
                <%= category.name %></td>
            </tr>
            </tbody>
          </table>
        </div>

      <% end %>
      <div class="space">
        <%= will_paginate @categories %>
      </div>
    </div>
  </div>
  <%= render partial: "/menuitems/menuitembuttons", locals: { category_id: @category_id } %>
</div>



  <div class = "row">
    <ul>
      <li>
        <div class = "dash-buttons" id="send">
        <p>Send</p>
        </div>
      </li>
      <li>
        <div class = "dash-buttons" id="close">
          <p><%= link_to 'Close',
                         table_path(@table),
                         method: :delete,
                         data: { confirm: 'Are you sure?' } %></p>
        </div>
      </li>
      <li>
        <div class = "dash-buttons" id="mods">
          <p><%= link_to 'Mods', mods_path %>
          </p>
        </div>
      </li>
      <li>
        <div class = "dash-buttons" id="receipt">
          <p>Receipt</p>
        </div>
      </li>
    </ul>
  </div>
</div>

