<p id="notice"><%= notice %></p>

<p>
  <strong>Table number:</strong>
  <%= @table.table_number %>
</p>

<p>
  <strong>Employee:</strong>
  <%= Waiter.find(@table.waiter_id).first_name %>
</p>

<%= link_to 'Edit', edit_table_path(@table) %> |
<%= link_to 'Back', tables_path %>
